amqp==2.4.2
billiard==3.5.0.5
celery==4.2.1
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.5.0
Django==2.1.7
django-allauth==0.39.1
gunicorn==19.9.0
idna==2.8
kombu==4.4.0
oauthlib==3.0.1
Pillow==5.4.1
pipenv==2018.11.26
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
urllib3==1.24.1
vine==1.2.0
virtualenv==16.1.0
virtualenv-clone==0.4.0
