{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Big Emoji" %}{% endblock %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'bigemoji/style.css' %}">
{% endblock %}

{% block content %}

<h1>Hello!</h1>

{% if error_msg %}
    <p><strong>{{ error_msg }}</strong></p>
{% endif %}
{% if form_error %}
    {{ form_error }}
{% endif %}

{% url 'bigemoji:index' as default_url %}

<p>
    <a href="{% provider_login_url "slack" process="connect" next=default_url scope=slack_login_scope %}">
        Sign in to another workspace
    </a>
</p>

<form action="{{ default_url }}" method="get">
    <select name="uid">
    {% for account in account_set %}
        {% if account == account_user %}
        <option value="{{ account.team.id }}_{{ account.slack_user_id }}" selected>{{ account.team.domain }} - {{ account.account.user.username }}</option>
        {% else %}
        <option value="{{ account.team.id }}_{{ account.slack_user_id }}">{{ account.team.domain }} - {{ account.account.user.username }}</option>
        {% endif %}
    {% endfor %}
    </select>
    <input type="submit" value="Change account" />
</form>

<p>
    To use Slack slash command,
    <a href="{% provider_login_url "slack" process="redirect" next=default_url scope="files:write:user,chat:write:user" auth_params="team="|add:team_id %}">
        please grant us file upload and chat update permissions.
    </a>
</p>

<p>{% blocktrans %}Not installed in your workspace? Consider:{% endblocktrans %}</p>

<a href="{% provider_login_url "slack" process="redirect" next=default_url scope="bot,commands" auth_params="team="|add:team_id %}">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
</a>

<br /><br />

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<br />

<table>
    <tr>
        <th>Owner</th>
        <th>Name</th>
        <th>Big Emoji</th>
    </tr>
{% for bigemoji in bigemojis %}
    <tr>
        <td>{{ bigemoji.owner }}</td>
        <td>{{ bigemoji.emoji_name }}</td>
        <td><img class="bigemoji" src="{{ bigemoji.image.url }}" /></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
