{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Big Emoji" %}{% endblock %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bigemoji/style.css' %}">

<span class="logo">JJAL BOT</span>
<div class="menu">
    <ul>
        <li>
            <button class="top-button">
                <a class="top-button" href="{% url 'account_logout' %}">Sign Out</a>
            </button>
        </li>
        <li>
            <button class="top-button">
                {% url 'bigemoji:index' as default_url %}
                <a class="top-button" href="{% provider_login_url "slack" process="connect" next=default_url scope=slack_login_scope %}">
                    Sign in to another workspace
                </a>
            </button>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if error_msg %}
    <p><strong>{{ error_msg }}</strong></p>
{% endif %}
{% if form_error %}
    {{ form_error }}
{% endif %}

<form action="{{ default_url }}" method="get">
    <select name="uid">
    {% for account in account_set %}
        {% if account == account_user %}
        <option value="{{ account.team.id }}_{{ account.slack_user_id }}" selected>{{ account.team.domain }} - {{ account.account.user.username }}</option>
        {% else %}
        <option value="{{ account.team.id }}_{{ account.slack_user_id }}">{{ account.team.domain }} - {{ account.account.user.username }}</option>
        {% endif %}
    {% endfor %}
    </select>
    <input class="button" type="submit" value="Change account" />
</form>

<p>
    To use Slack slash command,
    <a href="{% provider_login_url "slack" process="redirect" next=default_url scope="files:write:user,chat:write:user" auth_params="team="|add:team_id %}">
        please grant us file upload and chat update permissions.
    </a>
</p>
<div class="inline">{% blocktrans %}Not installed in your workspace? Consider {% endblocktrans %}</div>

<div class="add-to-slack">
    <a class="add-to-slack" href="{% provider_login_url "slack" process="redirect" next=default_url scope="bot,commands" auth_params="team="|add:team_id %}">
        <img alt="Add to Slack" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
    </a>
</div>

<form action="{% url 'bigemoji:add' team_id=account_user.team.id slack_user_id=account_user.slack_user_id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ add_form }}
    <input class="button" type="submit" value="Submit" />
</form>

<form action="{% url 'bigemoji:alias' team_id=account_user.team.id slack_user_id=account_user.slack_user_id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ alias_form }}
    <input class="button" type="submit" value="Submit" />
</form>

<br />

<table>
    <tr>
        <th>Owner</th>
        <th>Name</th>
        <th>Big Emoji</th>
        <th>Delete</th>
    </tr>
{% for bigemoji in bigemojis %}
    <tr>
        <td>{{ bigemoji.owner }}</td>
        <td>{{ bigemoji.emoji_name }}</td>
        <td><img class="bigemoji" src="{{ bigemoji.image.url }}" /></td>
        <td>
            {% if bigemoji.owner == account_user %}
            <form action="{% url 'bigemoji:remove' team_id=account_user.team.id slack_user_id=account_user.slack_user_id bigemoji_name=bigemoji.emoji_name %}" method="post">
                {% csrf_token %}
                <input class="delete-button" type="submit" value="Delete" />
            </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
