img.bigemoji {
    max-height: 50px;
    height: auto;
    width: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
}

.top-button {
    text-align: right;
}

.logo {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.button {
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #3377ee;
    display: inline-block;
    margin-left: 5px;
    padding: 6px 8px;
}

.button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.menu {
    float: right;
    text-align: right;
}

li {
    list-style: none;
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
}

.top-button {
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    background-color: white;
    color: #334455;
    transition: color 0.2s ease-in-out;
}

.top-button:hover {
    color: #3377ee;
    transition: color 0.2s ease-in-out;
}

.inline {
    display: inline-block;
    height: 40px;
}

.add-to-slack {
    vertical-align: middle;
    display: inline-block;
    width: 150px;
}

p {
    margin: 5px 0;
}

label {
    margin-right: 10px;
}

select {
    width: 287px;
    padding: 5px;
    border-radius: 4px;
}

form {
    margin: 5px 0;
}

table, th, td {
    border: 1px solid #ddd;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-radius: 3px;
    color: #444444;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.delete-button {
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #ee3377;
    display: inline-block;
    margin-left: 5px;
    padding: 6px 8px;
}